/* 
==============================================
CONTENT:	Mind Bubble
AUTHOR:		Eric Canosa
==============================================
TABLE OF CONTENTS:
0. Initialization
1. Partials
2. Fonts
3. General
4. Utility

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Partials =============================== */
@use 'width-fixer';
@use 'wide-screen-container';
@use 'upcoming-events';
@use 'hero';
@use 'header';
@use 'programs';

/* 2. Fonts ================================== */



/* 3. General ================================ */

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	background: whitesmoke;
	font-family:'Lucida Sans', sans-serif;
}

a{
	text-decoration: none;
}

b, strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

.page-container, #root {
	@include mixins.default-grid;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

textarea {
	overflow: auto;
}

/* 4. Utility ================================ */

.hidden{
	display: none;
}

.invisible{
	visibility: hidden;
}

.transparent{
	opacity: 0;
}

.dimmer{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 0vh;
	background-color: whitesmoke;
	opacity: 0.5;
	left: 0;
	top: 0;
	transition: .3s background-color ease-in;

	&_open{
		height: 100vh;
		background-color: black;
	}
}

.send-to-rear{
	z-index: -99;
}

.bring-to-front{
	z-index: 99;
}

.nowrap{
	white-space: nowrap;
}